body {
    background-image: url("../images/bg.jpg");
    background-color: lightblue;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#mainContainer {
    width: 70%;
    height: 80%;
    background-color: #4E2C69;
    opacity: .8;
    margin: auto;
    margin-top: 5%;
    text-align: center;
    border: .5px lightblue solid;
}

#mainContent {
    width: 80%;
    height: 80%;
    background-color: #4E2C69;
    margin: 10% auto 10% auto;
    padding: 22px;
}

#headerContent {
    width: 100%;
    height: auto;
    background-color: #4E2C69;
    opacity: .9;
    border-bottom: .5px solid black;
}

.headerText {
    float: right;
}

form{
    float: right;
}

input, select{
    border: 1px solid white;
    border-radius: 50px; 
    margin: 10px 5px 15px 5px;  
    background-color: #AE3557;
    color: white; 
    padding: 10px;
    text-shadow: 0 0 1px white;

}

input::-webkit-input-placeholder {
        background-color: #AE3557;
        color: white;


}

#textInput {
    /*make this one suited for writing longer posts*/
}


#log {
    border-radius: 50px;
    padding: 10px;
    margin-right: 135px;
    background-color: #AE3557;
    border: 1px black white;

}

#log:focus {outline:0;}

input:focus {
    outline:0;
}

h1{
    font-size: 1.8em;
    float: left;
    margin-left: 17%;
    font-variant: small-caps;
    font-style: italic;
    font-weight: lighter;
    background: purple;
    color: white;
    text-shadow: 0 0 30px #FF0000, 0 0 55px #0000FF;

}


h3 {
    font-size: 1.5em;
    text-shadow: 0 0 30px #FF0000, 0 0 55px #0000FF;
}


.date {
    font-style: italic;
    font-size: .8em;
}

.decor {
    font-size: .7em;
    margin-bottom: 50px;
    letter-spacing: 5.5px;
}

a {
    color: white;
}

/*a:hover{
    background: lightblue;
}*/

li {
    display: inline;
    text-decoration: none;
}

.line {
    text-shadow: 0 0 150px #FF1177;
}
