body {
    background-image: url("../images/bg.PNG");
    background-color: #17336f;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 1%;
}

#mainContainer {
    width: 70%;
    height: 80%;
    background-color: beige;
    opacity: .8;
    margin: auto;
    margin-top: 5%;
    text-align: center;
    border: 2px #17336f solid;
}

#mainContent {
    width: 80%;
    height: 80%;
    background-color: beige;
    margin: 10% auto 10% auto;
    padding: 22px;
}

#headerContent {
    width: 100%;
    height: auto;
    opacity: .9;
}

.headerText {
    float: right;
}


#loginForm {
    float: right;
}

input, select{
    border: 1px solid black;
    border-radius: 50px; 
    margin: 10px 5px 15px 5px;  
    background-color: #17336f;
    color: beige; 
    padding: 10px;
    text-align: center;

}

input::-webkit-input-placeholder {
        background-color: #17336f;
        color: beige;


}

#textInput {
    /*make this one suited for writing longer posts*/
}


#log {
    border-radius: 50px;
    padding: 10px;
    margin-right: 135px;
    background-color: #AE3557;
    border: 1px black black;

}

#log:focus {outline:0;}

input:focus {
    outline:0;
}

h1{
    font-size: 1.8em;
    float: left;
    margin-left: 17%;
    font-variant: small-caps;
    font-style: italic;
    font-weight: lighter;
    background: repeating-linear-gradient(
    135deg,
    lightcoral,
    lightcoral 30px,
    turquoise 30px,
    turquoise 60px
  );
    color: black;

}


h3 {
    font-size: 1.5em;
}


i {
    font-style: italic;
    font-size: .8em;
}

.decor {
    font-size: .7em;
    margin-bottom: 50px;
    letter-spacing: 5.5px;
}

a {
    color: black;
}

/*a:hover{
    background: #17336f;
}*/

li {
    display: inline;
    text-decoration: none;
}

#results {
    background-color: beige;
    width: 40%;
    opacity: .8;
    height: auto;

}

#searchFields {
    display: block;
}

*::-webkit-scrollbar {
    width: 1em;
}
 
*::-webkit-scrollbar-track {
  border: 1px solid #17336f;

    background-color: beige;
    border-radius: 20px;
}
 
*::-webkit-scrollbar-thumb {
  background: repeating-linear-gradient(
135deg,
    lightcoral,
    lightcoral 10px,
    turquoise 10px,
    turquoise 20px
  );
  outline: 2px solid black;
  border-radius: 10px;
  border: 1px solid #17336f;


}

#messageBox {
    border-radius: 20px;
    height: 200px;
    outline: none;
}